<section class = "about">
 
  <h3 id= "about-me">About Me</h3>

  <div class = "face-lockup">

    <div class="face-img"></div>

    <div class="icon-code">{% include icons/icon-code.html %}</div>
    <div class="icon-book">{% include icons/icon-book.html %}</div>
    <div class="icon-football">{% include icons/icon-football.html %}</div>
    <div class="icon-people">{% include icons/icon-people.html %}</div>


  </div>

  <div class="blurb">
    <ul>{{ site.data.portfolio.blurb }}</ul>
    <ul>Currently, I'm working as a freelancer and building software solutions to complex problems for a large organization. This experience has led me to find inspiration in living life outside of a routine and constantly strive to progress beyond my current abilities.</ul>
    <ul>I did my undergrad at the National Institute of Technology - Trichy, graduating with a B.Tech degree in Electronics and Communication Engineering. The time spent here gave birth to my love for all things code, something I lacked prior to joining.</ul>
    <ul>I'm an avid reader and am always looking for book recommendations, irrespective of the genre! My background as a student-athlete in college has cultivated in me a deep love for trying out all sports, but I particularly enjoy playing football and basketball.</ul>
  </div>

  <div class="skill-lockup">

    {% for skill in site.data.portfolio.skills %}

      <div class="skill-unit">
        <div class="skill-label"> {{ skill.name }}</div>
        <div class="skill-icons skill-{{ skill.value }}">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      {% endfor %}
  </div>
</section>