<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
<!--
  <script src="https://use.fontawesome.com/b064447799.js"></script>
-->
<section class="alt-section section-contact">

  <h3 id="contact">Contact</h3>

  <div class="social-links">
    {% for icon in site.data.portfolio.social %} 
      <a href = "{{ icon.url }}" class="fa fa-{{ icon.icon }} fa-5x" aria-hidden="true"></a>
    {% endfor %}
  </div>

  <hr class="bar">

  <a class="biglink" href="mailto:{{site.data.portfolio.email}}">Mail me!</a>
</section>