<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="100"
   height="100"
   id="svg2"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="football.svg">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="1.979899"
     inkscape:cx="22.775697"
     inkscape:cy="-88.164089"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1629"
     inkscape:window-height="1026"
     inkscape:window-x="51"
     inkscape:window-y="24"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-952.36218)">
    <g
       id="g3537"
       transform="matrix(0.10742187,0,0,0.10742187,21.997476,972.33425)">
      <g
         id="g3497">
        <path
           id="path3499"
           d="M 240,512 0,448 V 64 l 240,64 V 512 z M 512,64 272,128 V 512 L 512,448 V 64 z M 256,99.156 448,47.937 V 0 L 256,96 64,0 v 47.938 l 192,51.218 z"
           inkscape:connector-curvature="0" />
      </g>
      <g
         id="g3501" />
      <g
         id="g3503" />
      <g
         id="g3505" />
      <g
         id="g3507" />
      <g
         id="g3509" />
      <g
         id="g3511" />
      <g
         id="g3513" />
      <g
         id="g3515" />
      <g
         id="g3517" />
      <g
         id="g3519" />
      <g
         id="g3521" />
      <g
         id="g3523" />
      <g
         id="g3525" />
      <g
         id="g3527" />
      <g
         id="g3529" />
    </g>
  </g>
</svg>